.search-pane {
  /* fallback background colors if rgba not supported */
  background: rgb(100, 100, 100);
  background: rgba(150, 150, 150, 0.6);
  
  border-radius: 3px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
  /* prevent box from overflowing */
  max-height: 95%;
  overflow-y: auto;
  /* style all text with same font */
  font-family: 'Merriweather', sans-serif;
  /* give navbar space when results show... */
  margin-top: 50px;
}

.search-pane > h1,
h2 {
  text-align: center;
  color: #fff;
}

/* same text styling as jumbotron with some changes */
.search-pane-title {
  font-family: "Merriweather", sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 3rem;
}

.search-pane-subtitle {
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
  padding: 0 10px;
}

.search-input {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}

.search-input input {
  text-align: center;
  font-size: 1.2rem;
}

/* style container for image results */
.result-pane {
  display: inline-block;
  margin: 0.5rem;
  text-align: center;
  background: #ddd;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 1px #000, 0 2px 4px -2px #000;
  transition: box-shadow 0.2s;
}

.result-pane:hover {
  box-shadow: 0 0 1px #000, 0 10px 24px -8px #000;
}

/* cap image size but keep aspect ratio */
.thumbnail {
  max-height: 150px;
  max-width: 800px;
  border-radius: 0.25rem;
}

/* edit caption (support-text) */
.support-text {
  text-align: center!important;
  display: block;
  color: #333;
  font-size: 1rem;
}
/* make the team/org description smaller */
.secondary-text {
  font-size: 0.7rem;
}

/* style counter */
.results-count {
  color: #fff;
  margin: 1rem auto;
  width: 80%;
}