.search-pane {
  /* fallback background colors if rgba not supported */
  background: rgb(100, 100, 100);
  background: rgba(150, 150, 150, 0.2);
  
  border-radius: 3px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
  /* prevent box from overflowing */
  max-height: 95%;
  /* style all text with same font */
  font-family: 'Merriweather', sans-serif;
  /* give navbar space when results show... */
  margin-top: 120px;
}

.search-pane > h1,
h2 {
  text-align: center;
  color: #fff;
}

/* same text styling as jumbotron with some changes */
.search-pane-title {
  font-family: "Merriweather", sans-serif;
  margin-top: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 3rem;
}

.search-pane-subtitle {
  margin-top: 5px;
  font-family: "Raleway", sans-serif;

  font-weight: 100;
  padding: 0 10px;
}

.search-input {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}

.search-input input {
  text-align: center;
  font-size: 1.2rem;
}

/* list of all results */
#results-list {
  background: rgba(170, 170, 170, 0.4);
  padding-top: 10px;
}

/* style container for all results */
.results-pane {
  height: 400px;
}
/* style container for each result */
.result-pane {
  display: inline-block;
  margin: 0.2rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

/* style image inside pane with drop shadow */
.result-pane img {
  box-shadow: 0 0 2px #000;
  transition: box-shadow 0.2s;
  display: block;
  margin: 0 auto;
}

.result-pane img:hover {
  box-shadow: 0 0 10px #000, 0 5px 10px #000;
}

.result-pane figure {
  padding: 5px;
}
/* add background to each image  */
.result-pane figcaption {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 2px;
  margin-top: 3px;
}

/* cap image size but keep aspect ratio */
.thumbnail {
  max-height: 150px;
  border-radius: 0.25rem;
}

/* add attached text */
.attached-text {
  position: relative;
  top: 0;
  left: 0;
}

/* style counter */
.results-count {
  color: #fff;
  font-family: "Merriweather", sans-serif;
  margin: 10px auto 0 auto;
  width: 80%;
}

.results-count button {
  font-size: 18px;
  font-family: "Merriweather", sans-serif;
}

/* style image inside popup */
.dialog-img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

.load-more-btn {
  display: block;
  margin: 10px auto;
  font-size: 2em;
}

/*  */
/* FILTER */
/* classes to filter by categories */
/*  */

/* popover is the container of filter pane */
.css-h45qep {
  background: rgba(0,0,0);
  background: rgba(0, 0, 0, 0.9);
}
.filter-pane {
  font-family: 'Merriweather', sans-serif;
  color: #fff;
}